/***** Carousel *****/
.carousel{
}
.carousel-item{
	border-radius: 0.25em;
	overflow: hidden;
}

.carousel-item > a{
	display: block;
	width: 100%;
	/*height: 10em;*/
	border-radius: 0.25em;
	overflow: hidden;
}

.carousel-item .image{
	width: 100%;
	height: 22em;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/logo.png");
	border-radius: 0.25em;
}

.carousel-caption{
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba( 0, 0, 0, 0.5);
	padding: 0.5em 1em 1em 1em;
}


/***** Carousel items *****/
#item-midi-sequencer .image{
	background-image: url("../img/midi-sequencer/feature_graphic.png");
	background-position: center;
}

#item-drum-sequencer .image{
	background-image: url("../img/drum-sequencer/feature.png");
	background-position: center;
}

#item-midi-file-player .image{
	background-image: url("../img/midi-file-player/feature-graphic.png");
	background-position: center;
}

#item-chain-reaction .image{
	background-image: url("../img/chain-reaction/feature.png");
	background-position: bottom left;
}

#item-yarrrr .image{
	background-image: url("../img/yarrrr/feature.png");
	background-position: bottom left;
}

#item-flying-jelly-bean .image{
	background-image: url("../img/flying-jelly-bean/feature.png");
	background-position: bottom left;
}

#item-fartman .image{
	background-image: url("../img/fartman/game_over_panel.png");
	background-position: center right;
}

#item-shape-blaster .image{
	background-image: url("../img/shape-blaster/shape-blaster-promo.png");
	background-position: center;
}

#item-dino .image{
	background-image: url("../img/mg-dino/feature.png");
	background-position: center;
}

#item-halloween .image{
	background-image: url("../img/mg-halloween/feature.png");
}

#item-sea .image{
	background-image: url("../img/mg-sea/feature.png");
}

#item-chords-player .image{
	background-image: url("../img/chords-player/feature.png");
}


@media(min-width:518px){

}
@media(max-width:518px){

}
@media(max-width:368px){

}



/***** Twitter feeds *****/

.twitter-feeds{
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.5em;
	overflow: hidden;
	margin-bottom: 2em;
}
.twitter-feeds > iframe{
	border: 5px solid #ff0000;
}




/***** Apps lists *****/
#apps-container > div,
#games-container > div{
	margin-bottom: 1em;
}

.app-item{
	text-align: center;
	border: 0px solid;
	margin-bottom: 2em;
}
.app-item img{
	height: 120px;
}
.app-item .title{
	font-weight: bold;
}

