@import url("bootstrap.css");

@import url("page-index.css");
@import url("my-navbar.css");

body{
	background: #eeeeee;
	color: #000000;
	padding-top: 70px;
}

a{
	color: #000000;
}
h2{
}


/***** Header *****/
header{
	border: 0px solid #00ff00;
	position: relative;
	overflow: auto;
}
header .header-content{
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,.125);
	padding: 1.25rem;
	/*background-image: url("../img/header.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 30%;*/
}

header .header-content > *{
	vertical-align: middle;
	display: inline-block;
}

header .logo{
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 130px;
	width: 150px;
}

header h1{
}


/***** Facebook share *****/
.fb-share{
	position: absolute;
	right: 0px;
}
.fb-share > iframe{
	display: inline-block;
	min-width: 0em;
	min-height: 0em;
	width: 11em;
	height: 2em;
}
.fb-share * *{
	display: inline-block;
}
@media(max-width:992px){
	.fb-share{
	}
}


/***** page *****/

#page{
}
#page .container{
	padding-top: 1em;
	padding-bottom: 3em;
}



/***** Footer *****/
.footer{
	border: 0px solid #00ff00;
	background: #000000;
	padding: 1em;
	text-align: right;
	color: #ffffff;
}

.footer a{
	color: #ffffff;
}
