/* Show it is fixed to the top */
body {
    font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #868e96;
}

body b{
	color: #67737F;
}


/** */
body > footer{
	height: 15rem;
	background: #212529;
}

/** Heading */
h1{
	color: #212529;
}
h2{
	color: #212529;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


/** Anchors */
a.anchor {
    display: block;
    position: relative;
    top: -5.0rem;
    visibility: hidden;
}

#page-title{
	border: 1px solid transparent;
	/*background-image: url('../img/header.png');
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat;*/
	padding-top: 4.5rem;
}


/** Cards */
.card.bg-feature{
	border-width: 0px;
	background-color: transparent;
}
.card.bg-feature .card-body{
	padding: 0;
}
.card.bg-feature h5{
	color: #212529;
	border-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.05);
	padding-bottom: 1rem;
}
.card.bg-feature h5 .fa,
.card.bg-feature h5 .fab{
	color: #1d82ff;
	font-size: 2rem;
	/*display: block;*/
	margin-bottom: 1rem;
}
.card.bg-feature .card-text{
	/*min-height: 5rem;*/
}


.card.bg-documentation{
	border-width: 0px;
	background-color: transparent;
	background: #8b7386;
	clip-path: polygon(3rem 0%, 100% 0%, 100% 100%, 0% 100%, 0% 3rem);
	padding: 1rem 1rem 1rem 1.5rem;
}
.card.bg-documentation a{
	color: #D9B500;
	text-decoration: underline;
}
.card.bg-documentation h4,
.card.bg-documentation h5{
	color: #ffffff;
}



/** Features */
#featuresDiv{
	background: #F2F4F9; 
	padding-top: 3rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

#featurePunchline{
	color: #000000;
	padding-top: 1rem;
}
#featurePunchline b{
	color: #00c6bb;
}


/** Documentation */
#documentationDiv{
	color: #ffffff;
}




/* Apps carousel */
#appsCarousel{}

#appsCarousel .carousel-item{
	
}

#appsCarousel .carousel-item-bg{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 10rem;
	border-radius: 0.5rem 0.5rem 0rem 0rem; 
	position: relative;
}

#appsCarousel .carousel-caption{
	background-color: rgba(0, 0, 0, 1.0);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5rem;
	border-radius: 0rem 0rem 0.5rem 0.5rem; 
	position: relative;
}
#appsCarousel .carousel-caption h5{
	font-weight: bold;	
	font-size: 1.5rem;
}

@media (min-width: 576px) {
	#appsCarousel .carousel-item-bg{
		min-height: 15rem;
	}
}

@media (min-width: 768px) {
	#appsCarousel .carousel-item-bg{
		min-height: 15rem;
	}
}


@media (min-width: 992px) {
	#appsCarousel .carousel-item-bg{
		min-height: 22rem;
	}
}

